@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .square {
    aspect-ratio: 1/1;
  }

  .landscape-banner {
    aspect-ratio: 3/1;
  }

  .four-to-three {
    aspect-ratio: 4/3;
  }

  .four-to-three-p {
    aspect-ratio: 3/4;
  }

  .six-by-nine {
    aspect-ratio: 16/9;
  }

  .six-by-nine-p {
    aspect-ratio: 9/16
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.test {
    border-width: 2px;
    border-style: dashed;
    border-color: red;
}

.embla  {
  padding: 1.6rem;
}

.embla__viewport  {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.oranged__bold b {
  color: rgb(255 120 0);
}

.b b {
  font-weight: 700;
}

.grid-auto--fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.h1 h1 {
  color: #121212;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3rem;
}

.h2 h2 {
  color: #171717;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.h3 h3 {
  color: #171717;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.p p {
  color: #373737;
  font-size: 1rem;
}


.list li{
  list-style-type: circle;
}

.list ul{
  margin: 0;
  margin-left: 24px;
  padding: 0;
}